/* || RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  /* width: 100%; */
  /* height: auto; */
}

/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || VARIABLES */
:root {
  /* fonts */
  --FF: Poppins, sans-serif;
  --FS: clamp(1.35rem, 3vh, 2.25rem);
  --BODY-BGCOLOR: white;

}

body {
  font-family: var(--FF);
  font-size: var(--FS);
  width: 100%;
  min-height: 100vh;
  background-color: var(--BODY-BGCOLOR);
}